* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    color: aliceblue;
    background-color: black;
}

.bg-container {
    background: rgba(0, 0, 0, 0.6)url('./netflix-background-.jpg');
    width: 100%;
    height: 100vh;
    background-blend-mode: darken;
    border-bottom: 5px solid deeppink;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.icon {
    color: red;
    font-size: 40px;
}

select {
    width: 130px;
    height: 33px;
    background: transparent;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}

option {
    color: black;
}

.head-btn {
    display: flex;
}

.head-btn a,
input[type="submit"] {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 7px;
    font-weight: bolder;
    border-radius: 5px;
    margin: 0 10px;
}

.head-btn a:hover,
input[type="submit"]:hover {
    background-color: rgb(121, 7, 7);
}

.content {
    text-align: center;
    margin-top: 150px;
    color: aliceblue;
    font-weight: bolder;
}

#con,
h3,
p,
input {
    margin-top: 20px;
}

#con {
    font-size: 60px;
    font-weight: 900;
}

input[type="email"] {
    width: 37%;
    height: 55px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
    padding: 0 10px;
    color: white;
}

input[type="email"] :focus {
    border: 4px solid white;

}

input[type="submit"] {
    border: none;
    width: 180px;
    height: 60px;
    font-size: 23px;
    padding: 0;
}

/* ---------------------------------------------------------------------- */

.container2,
.container3 {
    display: flex;
    justify-content: center;
    margin: 0 80px;
}

.head {
    margin: 50px 0 15px 90px;
}

.grid-box,
.grid-box2 {
    width: 250px;
    height: auto;
    border-radius: 15px;
    background: rgb(46, 6, 26);
    /* background: linear-gradient(deeppink,rgb(36, 34, 34)); */
    margin: 10px;
    padding: 28px 20px;
    cursor: pointer;
    transition: all 0.6s;
}

.grid-box>p {
    font-size: 22px;
}

.grid-box:hover {
    transform: scale(1.05);
    background: rgb(77, 11, 44);
}

.grid-box2 {
    background: linear-gradient(to bottom right, rgb(13, 3, 70), rgb(41, 4, 10));
}

.grid-box2>p {
    font-size: 18px;
}

.img-icon i{
    font-size: 45px;
    display: block;
    text-align: end;
    margin-top: 30px;
    color: deeppink;
}


/* ----------------------------------------------------------------------------------- */

.container4 {
    margin: 0 80px;
}

.box {
    width: 70%;
    height: 80px;
    background-color: rgb(44, 43, 43);
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 0 15px;
    transition: all 0.5s;
}

.box:hover {
    background-color: rgb(65, 64, 64);
}

#ready {
    margin: 80px 0 0 90px;
}

#inp-email {
    margin: 30px 0 0 90px;
    width: 60%;
}

#inp-submit {
    width: 20%;
}

h4 {
    margin: 30px 0 0 120px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 200px 50px 50px;
}

.footer-col {
    display: grid;
}

.footer-col a {
    display: block;
    color: aliceblue;
    font-size: 16px;
    margin-top: 10px;
}

#footer-dd,
#footer-nt {
    margin: 10px 0 40px 120px;
}